body {
  height: 2000px;
}

.header_card {
  display: flex;
  justify-content: space-between;
}

.card-title {
  text-decoration: none;
  font-size: 22px;
  color: #a8908c;
  width: 200px;
}

.card-title:hover {
  text-decoration: underline;
  color: #787072;
}

.flag_gb {
  margin-left: 410px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a8908c;
  width: 800px;
  height: 100px;
  box-shadow: 1px 1px 10px black;
}

.experience {
  font-size: 70px;
  text-shadow: 1px 1px 10px #c6aea9;;
}

.container {
  background-color: #c6aea9;
  border: 1px solid #a8908c;
} 

.footer {
  margin-top: 461px;
}

.footer_contact {
  color: black;
}