.content_bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.header_card {
  display: flex;
  justify-content: space-between;
}

.card-title {
  text-decoration: none;
  color: #a8908c;
  width: 200px;
}

.card-title:hover {
  text-decoration: underline;
  color: #787072;
}

.flag_gb {
  margin-left: 410px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a8908c;
  width: 800px;
  height: 100px;
  box-shadow: 1px 1px 10px black;
  margin-top: 20px;
}

.experience {
  margin-top: 20px;
  margin-bottom: 50px;
  text-shadow: 1px 1px 10px #c6aea9;
  font-size: 100px;
  padding-top: 60px;
}

.container {
  background-color: #c6aea9;
  border: 1px solid #a8908c;
} 

/*mobile styles - media queries*/
@media only screen and (max-width:320px) {
  
  .link-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    width: 290px;
  }

  .flag_gb {
    margin-left: 30px;
  }

  .experience {
    font-size: 50px;
  }

  .footer {
   position: relative;
   bottom: 0;
  }

  .navbar-text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 481px) {

  .card {
    width: 290px;
    margin-top: 10px;
  }

  .flag_gb {
    margin-left: 28px;
  }

  .experience {
    font-size: 50px;
  }
  
  .footer {
    position: relative;
    bottom: 0;
   }
 
   .navbar-text {
     font-size: 15px;
   }
}

/*tablet styles*/
@media only screen and (min-width: 482px) and (max-width: 769px) {

  .card {
    width: 450px;
  }

  .flag_gb {
    margin-left: 100px;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1024px) {

  .card {
    width: 600px;
  }

  .flag_gb {
    margin-left: 150px;
  }
}