body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(/images/wood-3000_2000_2.jpg);
}

.header_card {
  display: flex;
  justify-content: space-between;
}

.card-title {
  text-decoration: none;
  font-size: 22px;
  color: #a8908c;
  width: 200px;
}

.card-title:hover {
  text-decoration: underline;
  color: #787072;
}

.flag_gb {
  margin-left: 410px;
}

.photo {
  width: 260px;
  height: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a8908c;
  width: 800px;
  height: 100px;
  box-shadow: 1px 1px 10px black;
}

.experience {
  font-size: 70px;
  text-shadow: 1px 1px 10px #c6aea9;;
}

.container {
  background-color: #c6aea9;
  border: 1px solid #a8908c;
} 

.footer {
  background-color: #c6aea9;
  margin-top: 155px;
  width: 100%;
  height: 30px;
  box-shadow: 1px 1px 10px black;
  position: relative;
  bottom: 0;
}

.footer_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 1px;
  margin-right: 15px;
}

.mail_logo {
  margin-right: 5px;
}

.phone {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 1px;
}

.phone_logo {
  margin-right: 5px;
}

/*mobile styles - media queries*/
@media only screen and (max-width:420px) {

  
  .link-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name {
   font-size: 70px;
  }

  .card {
    width: 400px;
  }

  .flag_gb {
    margin-left: 140px;
  }

  .footer {
   position: relative;
   bottom: 0;
  }

  .navbar-text {
    font-size: 15px;
  }
}

/*tablet styles*/
@media only screen and (min-width: 421px) and (max-width: 960px) {

  .card {
    margin-top: 10px;
  }
  
  .footer {
    position: relative;
    bottom: 0;
   }
 
   .navbar-text {
     font-size: 15px;
   }

}
