* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image:url(/images/coffee-2847957_1280ok.jpg)
}

.navbar {
  font-size: 20px;
  background-color: #c6aea9;
  box-shadow: 1px 1px 10px black;
}

.link-menu {
  display: flex;
  flex-direction: row;
  margin: 0 10px 0 50px;
}

.home {
  margin-right: 20px;
  color: black;
}

.home a:link {
  color: black;
  text-decoration: none;
}

.home a:visited {
  color: black;
}

.home a:hover {
  color: rgb(124,115,117);
  text-decoration: underline;
}

.home a:active {
  color: rgb(175,158,156);
}

.bio {
  margin-right: 20px; 
  color: black;
}

.bio a:link {
  color: black;
  text-decoration: none;
}

.bio a:visited {
  color: black;
}

.bio a:hover {
  color: rgb(124,115,117);
  text-decoration: underline;
}

.bio a:active {
  color: rgb(175,158,156);
}

.contact {
  margin-right: 10px;
  color: black;
  font-style: none;
}

.contact a:link {
  color: black;
  text-decoration: none;
}

.contact a:visited {
  color: black;
}

.contact a:hover {
  color: rgb(124,115,117);
  text-decoration: underline;
}

.contact a:active {
  color: rgb(175,158,156);
}

.content {
  color: white;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: 'Ms Madi', cursive;
  font-size: 100px;
  text-shadow: 1px 1px 10px #c6aea9;
}

.btn_SeeMore {
  margin-top: 20px;
  background-color: transparent;
  color: #c6aea9;
  text-decoration: none;
  border: 1px solid #c6aea9;
  height: 40px;
  width: 90px;
  padding: 6px 0 0 10px;
  border-radius: 7px;
  cursor: pointer;
}

.btn_SeeMore:hover {
  background-color: #c6aea9;
  color: #787072;
}

.footer {
  background-color: #c6aea9;
  margin-top: 155px;
  width: 100%;
  height: 30px;
  box-shadow: 1px 1px 10px black;
  position: absolute;
  bottom: 0;
}

.footer_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 1px;
  margin-right: 15px;
}

.mail_logo {
  margin-right: 5px;
}

.phone {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 1px;
}

.phone_logo {
  margin-right: 5px;
}

/*mobile styles - media queries*/
@media only screen and (max-width:420px) {
  
  .link-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name {
   font-size: 70px;
  }

  .footer {
   position: absolute;
   bottom: 0;
  }

  .navbar-text {
    font-size: 15px;
  }
}

/*tablet styles*/
@media only screen and (min-width: 421px) and (max-width: 960px) {

  body {
    background-image: url(/images/coffee-2847957_1920.jpg);
  }

  .content {
    margin-top: 300px;
  }

  .footer {
    position: absolute;
    bottom: 0;
   }
 
   .navbar-text {
     font-size: 15px;
   }

}
